.Grouping{
    border-style: solid;
    border-color: black;
}

.InventoryWrapper{
    display: flex;
    flex-direction: row;
}

.InventorySidebar{
    background-color: #5C6B73;
    padding-left: 2.5%;
    padding-right:2.5%
}


/*
================================================
=====NAVIGATION COMPONENTS SECTION==============
================================================
*/
.Navigation{
    display: flex;
    justify-content: center;
    background-color: #253237;
}

.NavLink{
    text-decoration: none;
    color: black;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    padding: 1%;
    margin:1%;
    background-color: rgb(60, 111, 238);
}

.NavLink:hover{
    background-color: rgb(54, 98, 209);
}



/*
Removing the outline from the initial page setting
*/
body{
    margin:0;
}